.userphoto{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
ion-footer{
    background-color: #f4f5f8;
}
ion-input{
    border:1px solid #b7aaaa;
    border-radius: 9px;
    padding: 4px;
    --highlight-color-focused:none;
    --padding-start:10px;
    --color:black;
    --placeholder-color:black;
}
.messageCard{
    width: fit-content;
    padding: 2px 4px;
    margin: 2px 4px;
    color: white;
    max-width: 80%;
}
.senderSide{
    margin-left: auto;
    background: #7f8285;
    border-radius: 7px 3px 3px 3px;
}
.receiverSide{
    background: #1e70c2;
    border-radius: 3px 7px 3px 3px;
}