/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

.text_center{
    text-align: center;
}
.mt-10{
    margin-top: 10px;
}
.mt-130{
    margin-top: 130px;
}
.p0{
    padding: 0;
}
.hfull{
    height: 100%;
}
.dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-5{
    margin: 5px 0;
}
.container{
    padding: 10px;
 }
 ion-card-title,.btn, .register{
     text-align: center;
 }
 ion-button{
     margin: 0 auto;
 }
 .btn{
     margin-top: 10px;
 }
 ion-card{
    padding-bottom: 10px;
 }
 .loginbtn{
    --background: var(--second_col);
}
.logtitle{
    color: var(--primary_col);
    text-align: center;
    font-weight: 600;
}
.redirectbtn{
    --background: var(--primary_col);
}
.text_end{
    text-align: end;
}
.m0{
    margin: 0;
}
.p0{
    padding: 0;
}
.pl-5{
    padding-left: 10px;
}
.backbtn{
    font-size: 28px;
}
.profile_img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.sendIcons{
    border-radius: 10px;
    font-size: 30px;
    color: var(--second_col);
    background: var(--primary_col);
    width: 100%;
    height: 100%;
}
.first_letter::first-letter{
    text-transform: uppercase;
}