<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Goto home</h2>
  <ion-button (click)="gotoHome()">Home</ion-button>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="textmessage"></ion-input>
        <ion-button (click)="sendMessage()">Send</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row>
    <ion-col size="12">
      <p *ngFor="let item of messages">
        {{item}}
      </p>
    </ion-col>
  </ion-row>
    
 
</ion-content>
